.main {
  display: flex;
  justify-content: center;
}

.my-bg {
  background: ghostwhite;
}

.list li {
  padding: 5px;
  background: #1669b5;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.list li input {
  border: 1px solid rgb(36, 26, 175);
}

.title-task {
  word-wrap: break-word;
  word-break: break-all;
  max-width: 490px;
}

.pagination-box {
  display: flex;
  justify-content: center;
}

.del-btn {
  height: 100%;
  width: 30px;
}

.hidden {
  display: none;
  height: 50px;
}

.not-hidden {
  display: block;
}

.pagination-element {
  width: 50px;
  text-align: center;
}

.alert {
  text-align: center;
  background-color: lightpink;
  color: rgb(94, 6, 6);
  display: none;
}

